*Comprehensions provide us with a short and concise way to construct new sequences (such as lists, sets, dictionaries)*

*LIST COMPREHENSION EXAMPLE 1*

In [ ]:
'''
In the following example we are writing a code to split even and odd numbers 
in total_list to two different lists. '''

#### with for loops ###

#total_list = [2, 13, 18, 93, 22]

#even_list = []
#odd_list = []

#for nums in total_list:
#    if nums % 2 == 0:
#        even_list.append(nums)
#    else:
#        odd_list.append(nums)
        
#print(even_list) ###output: [2, 18, 22]
#print(odd_list)  ###output: [13, 93]

#### with comprehension ###

#even_list = [x for x in total_list if x % 2 == 0]
#odd_list = [x for x in total_list if x % 2 != 0]

*LIST COMPREHENSION EXAMPLE 2*

In [1]:
#salaries = [1000, 2000, 3000, 4000, 5000]

##### a function to add 20% raise to the salaries ###

#def new_salary(x):
#    return x * 20 / 100 + x



##################################################### 
# comprehension examples for different scenarios ###
##################################################### 

## double the salaries ##

#c1 = [salary * 2 for salary in salaries] 

##output: [2000, 4000, 6000, 8000, 10000]



## double the salaries below 3000 ##

#c2 = [salary * 2 for salary in salaries if salary < 3000] 

##output: [2000, 4000]



## if salary below 3000, double the salaries and give 20% raise, if not, give 20% raise ##

#c3 = [new_salary(salary * 2) if salary < 3000 else new_salary(salary) for salary in salaries]

##output: [2400.0, 4800.0, 3600.0, 4800.0, 6000]



##if salary below 3000, double the salaries and give 20% raise, if not, divide salary by 5, then give 20% raise ##

#c4 = [new_salary(salary * 2) if salary < 3000 else new_salary(salary * 0.2) for salary in salaries]

##output: [2400.0, 4800.0, 720.0, 960.0, 1200]

*LIST COMPREHENSION EXAMPLE 3*

In [2]:
#students = ["John", "Mark", "Vanessa", "Mariam"]
#students_no = ["John", "Vanessa"]


#s1 = [student.lower() if student in students_no else student.upper() for student in students]

##output: ["john", "MARK", "vanessa", "MARIAM"]



#s2 = [student.upper() if student not in students_no else student.upper() for student in students]

##output: ["john", "MARK", "vanessa", "MARIAM"]

***LIST COMPREHENSION EXAMPLE 4***

In [ ]:
#### import libraries for the car_crashes dataset ####

#import seaborn as sns
#df = sns.load_dataset("car_crashes")

#### rename all column names in df to uppercase ####

#df.columns = [col.upper() for col in df.columns]

#### create a list of new column names with prefix "NUM_" for numeric type columns ####

#b = ["NUM_" + col for col in df.columns if df[col].dtype != "O"]

#### create a list of column names with "_FLAG" for columns -not contain "NO" ####

# bc = [col + "_FLAG" for col in df.columns if "NO" not in col]




#### create a new dataframe without "abbrev" and "no_previous" columns ####

#keywords = ["abbrev", "no_previous"]

#new_cols = [col for col in df.columns if not any(keyword in col for keyword in keywords)]

#new_df = df[new_cols]

*DICTIONARY COMPREHENSION EXAMPLE 1*

In [3]:
#dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
#dict1.keys()
#dict1.values()
#dict1.items()

### squaring the dictionary values ###

#{k: v **2 for (k, v) in dict1.items()}

##output: {'a': 1, 'b': 4, 'c': 9, 'd': 16}


### uppercase the dictionary keys ###

#{k.upper(): v for (k,v) in dict1.items()}

##output: {'A': 1, 'B': 2, 'C': 3, 'D': 4}



### uppercase the dictionary keys, and multiply values with two ###

#{k.upper(): v *2 for (k,v) in dict1.items()}

##output: {'A': 2, 'B': 4, 'C': 6, 'D': 8}

*DICTIONARY COMPREHENSION EXAMPLE 2*

In [4]:
#### squaring the even numbers and add to a dictionary ###

#numbers = range(10)
#new_dict = {}

#for nums in numbers:
#    if nums % 2 == 0:
#        new_dict[nums] = nums ** 2 ##just squaring the values
        
###output: {0 : 0, 2: 4, 4: 16, 6: 36, 8: 64}


##### with comprehension #####

#{nums: nums ** 2 for nums in numbers if nums % 2 == 0}