*Comprehensions provide us with a short and concise way to construct new sequences (such as lists, sets, dictionaries)*

***LIST COMPREHENSION EXAMPLE 1***

In [1]:
'''In the following example we are writing a code to split even and odd numbers 
in total_list to two different lists. '''

#### with for loops ###

total_list = [2, 13, 18, 93, 22]

even_list = []
odd_list = []

for nums in total_list:
    if nums % 2 == 0:
        even_list.append(nums)
    else:
        odd_list.append(nums)
        
print(even_list) ###output: [2, 18, 22]
print(odd_list)  ###output: [13, 93]

#### with comprehension ###

even_list = [x for x in total_list if x % 2 == 0]
odd_list = [x for x in total_list if x % 2 != 0]

[2, 18, 22]
[13, 93]

***LIST COMPREHENSION EXAMPLE 2***

In [2]:
salaries = [1000, 2000, 3000, 4000, 5000]

##### a function to add 20% raise to the salaries ###

def new_salary(x):
    return x * 20 / 100 + x



##################################################### 
# comprehension examples for different scenarios ###
##################################################### 

## double the salaries ##

c1 = [salary * 2 for salary in salaries] 
print(c1)

##output: [2000, 4000, 6000, 8000, 10000]



## double the salaries below 3000 ##

c2 = [salary * 2 for salary in salaries if salary < 3000]
print(c2)

##output: [2000, 4000]



## if salary below 3000, double the salaries and give 20% raise, if not, give 20% raise ##

c3 = [new_salary(salary * 2) if salary < 3000 else new_salary(salary) for salary in salaries]
print(c3)

##output: [2400.0, 4800.0, 3600.0, 4800.0, 6000]



##if salary below 3000, double the salaries and give 20% raise, if not, divide salary by 5, then give 20% raise ##

c4 = [new_salary(salary * 2) if salary < 3000 else new_salary(salary * 0.2) for salary in salaries]
print(c4)

##output: [2400.0, 4800.0, 720.0, 960.0, 1200]

[2000, 4000, 6000, 8000, 10000]
[2000, 4000]
[2400.0, 4800.0, 3600.0, 4800.0, 6000.0]
[2400.0, 4800.0, 720.0, 960.0, 1200.0]

***LIST COMPREHENSION EXAMPLE 3***

In [3]:
students = ["John", "Mark", "Vanessa", "Mariam"]
students_no = ["John", "Vanessa"]


s1 = [student.lower() if student in students_no else student.upper() for student in students]
print(s1)

##output: ["john", "MARK", "vanessa", "MARIAM"]



s2 = [student.upper() if student not in students_no else student.upper() for student in students]
print(s2)

##output: ["john", "MARK", "vanessa", "MARIAM"]

['john', 'MARK', 'vanessa', 'MARIAM']
['JOHN', 'MARK', 'VANESSA', 'MARIAM']

****LIST COMPREHENSION EXAMPLE 4****

In [4]:
#### import libraries for the car_crashes dataset ####

import seaborn as sns
import pandas as pd

#### extra adjustments ##########

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)


#### loading dataset to a dataframe ##########

#df = sns.load_dataset("car_crashes")
df = pd.read_csv('/kaggle/input/seaborn-car-crashes/car_crashes.csv')

#### checking df's columns and getting df information ##########

df.columns
df.info()

#### change columns names to uppercase if the variable is numeric ####

b = ["NUM_" + col.upper() if df[col].dtype != "O" else col.upper() for col in df.columns] 
print(b)

#### second way

b = ["NUM_" + col.upper() if df[col].dtype in [int, float] else col.upper() for col in df.columns]




#### create a list of column names end with "_FLAG" for columns that are not contain "NO" ####

bc = [col.upper() + "_FLAG" for col in df.columns if "no" not in col]
print(bc)

#### second way

bc = [col.upper() + "_FLAG" if "no" not in col else col.upper() for col in df.columns ]



####### create a new dataframe without "abbrev" and "no_previous" columns #######

keywords = ["abbrev", "no_previous"]

new_cols = [col for col in df.columns if not any(keyword in col for keyword in keywords)]

new_df = df[new_cols]

new_df.head() ##outputs the first 5 rows



#### second way

keywords = ["abbrev", "no_previous"]

new_cols = [col for col in df.columns if col not in keywords]

new_df = df[new_cols]

new_df.head() ##outputs the first 5 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total           51 non-null     float64
 1   speeding        51 non-null     float64
 2   alcohol         51 non-null     float64
 3   not_distracted  51 non-null     float64
 4   no_previous     51 non-null     float64
 5   ins_premium     51 non-null     float64
 6   ins_losses      51 non-null     float64
 7   abbrev          51 non-null     object
dtypes: float64(7), object(1)
memory usage: 3.3+ KB
['NUM_TOTAL', 'NUM_SPEEDING', 'NUM_ALCOHOL', 'NUM_NOT_DISTRACTED', 'NUM_NO_PREVIOUS', 'NUM_INS_PREMIUM', 'NUM_INS_LOSSES', 'ABBREV']
['TOTAL_FLAG', 'SPEEDING_FLAG', 'ALCOHOL_FLAG', 'INS_PREMIUM_FLAG', 'INS_LOSSES_FLAG', 'ABBREV_FLAG']

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63

***DICTIONARY COMPREHENSION EXAMPLE 1***

In [5]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
dict1.keys()
dict1.values()
dict1.items()

### squaring the dictionary values ###

print({k: v **2 for (k, v) in dict1.items()})

##output: {'a': 1, 'b': 4, 'c': 9, 'd': 16}


### uppercase the dictionary keys ###

print({k.upper(): v for (k,v) in dict1.items()})

##output: {'A': 1, 'B': 2, 'C': 3, 'D': 4}



### uppercase the dictionary keys, and multiply values with two ###

print({k.upper(): v *2 for (k,v) in dict1.items()})

##output: {'A': 2, 'B': 4, 'C': 6, 'D': 8}

{'a': 1, 'b': 4, 'c': 9, 'd': 16}
{'A': 1, 'B': 2, 'C': 3, 'D': 4}
{'A': 2, 'B': 4, 'C': 6, 'D': 8}

***DICTIONARY COMPREHENSION EXAMPLE 2***

In [6]:
#### squaring the even numbers and add to a dictionary ###

numbers = range(10)
new_dict = {}

for nums in numbers:
    if nums % 2 == 0:
        new_dict[nums] = nums ** 2 ##just squaring the values
        
###output: {0 : 0, 2: 4, 4: 16, 6: 36, 8: 64}


##### with comprehension #####

{nums: nums ** 2 for nums in numbers if nums % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}